/* Add your CSS code below */
a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.message__time {
  font-size: 0.9rem;
}

.message.message--unread {
  border-left-style: solid;
  border-left-color: blue;
}
.message__time--old {
  opacity: 0.5;
}
.message {
  line-height: 3;
}
